h1 {
    font-size: 24px;
    color: #38B2AC;
}

h2 {
    font-size: 21px;
    color: #5A67D8;
}

p {
    font-size: 18px;
}

.goals {
    background-color: #f0f4f8;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.goals-heading {
    color: #2b6cb0;
    font-size: 20px;
}